.center {
    margin: auto;
    text-align: center;
}

h1{
    color: #c20e62;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: rgb(29, 32, 32);
}

h3{
    color: rgb(79, 65, 47);
}
h4 {
    color: indianred;
}